.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding: 100px 0;
    margin: 0 auto;
}

.about {
    opacity: 0; /* Prevent flash before animation starts */
}
